.header {
    Display: flex;
    justify-content: center;
    height: 4rem;
    background-color: #1F1F1F;
}

.navbar__list {
    justify-content: center;
}

.navbar__icon {
    height: 22px;
    width: 22px;
}

header nav {
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

header nav ul {
    gap: 2.5rem !important;
}

header nav li {
    align-content: center;
}

header nav a {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    color: #A6A7A9 !important;
}

header nav a[highlight] {
    color: white !important;
}

header nav a span {
    font-size: 12px !important;
}