@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./table.css');

.main-content {
  background-color: #141218;
}

.header {
  Display: flex;
  justify-content: center;
  height: 4rem;
  background-color: #1F1F1F;
}

.navbar__list {
  justify-content: center;
}