@import url('./main-layout.css');

.main-content {
  background-color: #141218;
}

.header {
  Display: flex;
  justify-content: center;
  height: 4rem;
  background-color: #1F1F1F;
}

.navbar__list {
  justify-content: center;
}

.content__table {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  overflow: hidden;
}
