.content__table {
    background-color: transparent;
    border: 1px solid #437BDF;
}

.table-wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    gap: 0;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    border: 1px solid #437BDF;
    background-color: rgb(39, 51, 72);
    border-radius: 22px;
    overflow: hidden;
}

.table__add-button {
    position: absolute;
    right: 5%;
    bottom: 10%;
    height: 3.5rem;
    width: 3.5rem;

    background-color:  rgba(192, 213, 242, 0.11);
}

vaadin-grid:has(vaadin-grid-column.current-day) {
    border-bottom: 2px solid white;
}

vaadin-grid:has(vaadin-grid-column.current-day)::part(header-cell) {
    background-color: rgb(67, 123, 223, 5%) !important;
}

vaadin-grid {
    height: 100%;
    margin-left: -1px;
    margin-top: -1px;
}

vaadin-grid::part(cell) {
    text-align: center;
    background-color: #201E24;
}

vaadin-grid::part(header-cell) {
    font-weight: bold;
    border: 1px solid rgb(67, 123, 223);
    border-bottom: 2px solid rgb(67, 123, 223);
}

vaadin-grid::part(body-cell) {
    padding: 1rem 0;
    border-inline: 1px solid rgb(67, 123, 223);
}

vaadin-grid::part(last-row-cell) {
    border: 1px solid rgb(67, 123, 223);
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}